<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#if showLoginButton}}
        <a id="signin" href="/login">SignIn</a>
    {{else}}
        <p>Welcome to Auth Code Node Sample</p>
    {{/if}}

</body>
</html>
